h1 {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  color: #ec5d57;
  font-size: 20px;
  letter-spacing: 1.5px;
}

div > input {
  height: 30px;
  width: 350px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
}

div > select {
  margin: auto;
  height: 30px;
  width: 350px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  background-color: #f3f3f3;
  font-family: "Brandon Grotesque", sans-serif;
}

div > label {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 10px;
}

.align-center {
  margin: auto;
}

#button {
  color: white;
  background-color: #ec5d57;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

::placeholder {
  font-family: "AtlasGrotesk", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: lightgray;
  padding-left: 5px;
}
