h1 {
  font-family: "Monoton", cursive;
  font-size: 40px;
  margin: 5px;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: 700;
  margin: 5px;
}

p {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
  line-height: 50px;
}
